<div class="white-space"></div>
<div class="edit-design-nav">
  <h6>Edit Your Project</h6>
</div>
<div class="design-container">
  <div class="promotions">
    <h6>Your Company Name Could Be Here</h6>
    <%= link_to 'Act Now', 'mailto:contact@hoxton-digital.com' %>
  </div>
  <div class="edit-design">
    <%= image_tag @design.image %>
    <div class="edit-design_form">
      <%= simple_form_for(@design) do |f| %>
          <%= f.input :title %>
          <%= f.input :description, input_html: { class: "edit-design-description" } %>
          <%= f.submit %>
      <% end %>
      <%= link_to 'Delete Project', design_path(@design), method: :delete, data: { confirm: "Are you sure you want to delete this project?"} %>
    </div>
  </div>
  <div class="useful-links">
    <div class="news">
      <h6>Some Useful Links</h6>
      <%= link_to 'Web Development', services_path %>
      <%= link_to 'Mobile Development', services_path %>
      <%= link_to 'Digital Marketing', services_path %>
      <%= link_to 'SEO', services_path %>
      <br><br>
      <h6>Hoxton Digital</h6>
      <%= link_to 'Our Works', projects_path %>
      <%= link_to 'Learn About Us', about_path %>
      <%= link_to 'Hire Us', contact_path %>
      <br><br>
      <h6>Have any Ideas For Us?</h6>
      <p>We would love to hear your feedback</p>
      <%= link_to 'Send Message', 'mailto:contact@hoxton-digital.com', class: "send-button" %>
    </div>
    <div class="hire-developers">
      <h3>Hire the best developers!</h3>
      <p>Hoxton Digital is proud to develop for several companies in England, France, US & Colombia</p>
      <%= link_to 'Act Now', 'mailto:contact@hoxton-digital.com', class: "send-button-red" %>
    </div>
  </div>
</div>
