<div class="white-space"></div>
<div class="design-banner">
  <div class="design-banner_content">
    <h4>Find designers and inspiration for your project.</h4>
    <p>We have created a space for designers to upload some of their creations.</p>
    <%= link_to contact_path do %>
      <button>Contact</button>
    <% end %>
  </div>
  <%= cl_image_tag("unicorn.gif", :quality=>"auto") %>
</div>
<div class="design-filters">

</div>
<div class="design-index">
  <div class="design-index-cards">
    <% @designs.each do |design| %>

      <div class="design-index-card">
        <a href="#design-popup_<%= design.id %>">
          <%= image_tag design.image, alt: "london web development" %>
          <div class="design-index-card_description">
            <div>
              <% if design.user.image.attached? %>
                <%= image_tag design.user.image.variant(resize: "50x50"), alt: "london web development", class: "profile" %>
              <% else %>
                <%= image_tag 'profile-icon.png', alt: "london web development", class: "profile" %>
              <% end %>
              <h6><%= design.title %></h6>
            </div>
            <div style="float: right; color: gray;">
              <p>by: <%= design.user.first_name %></p>
            </div>
          </div>
        </a>
      </div>

      <div id="design-popup_<%= design.id %>" class="design-popup">
        <div class="design-popup_content">
          <div class="design-popup_content_details">
            <a href="/designs" class="design-popup_close">&times;</a>
            <% if design.user.image.attached? %>
              <%= image_tag design.user.image.variant(resize: "80x80"), alt: "london web development", class: "profile-design" %>
            <% else %>
              <%= image_tag 'profile-icon.png', alt: "london web development", class: "profile-design" %>
            <% end %>
            <div class="design-popup_content_details_text">
              <h6><%= design.title %></h6>
              <p>by: <%= design.user.first_name %></p>
            </div>
          </div>
          <div class="design-popup_content_details_image">
            <%= image_tag design.image, alt: "london web development" %>
          </div>
          <div class="design-popup_content_details_description">
            <h6>Description:</h6>
            <p><%= design.description %></p>
          </div>
        </div>
      </div>

    <% end %>
  </div>
</div>
