
<div class="sign-in-page absCenterColumn">
  <div class="sign-in-form 50vh absCenterColumn">

    <h2>Hoxton Digital</h2>
    <p>Join the family</p>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs medium-inputs">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" }%>
        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
        <%#= f.input :subscribe, as: :boolean, label: "Check this box to receive the latest news & updates" %>
        <%#= f.input :image, as: :file, label: false %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Sign up", class: "medium-inputs red-button" %>
      </div>
    <% end %>

    <%#= render "devise/shared/links" %>
  </div>
</div>
<script>
  var file = document.getElementById('my_img_field').files[0]
      var fr = new FileReader()
      fr.readAsDataURL(file)
      fr.onload = function(e) {
        var img = document.getElementById('image_preview')
        img.src = this.result
      }
</script>
