<% if params[:controller] == "designs" || params[:controller] == "posts" %>
  <footer>
    <div class="footer">
      <div class="footer_title">
        <h4>Hoxton Digital</h4>
        <h5>A London Web & Mobile Programming Agency</h5>
        <div class="footer_title_social-media">
          <%= link_to 'https://www.facebook.com/hoxtondigital/' do %>
            <i class="fab fa-facebook-f"></i>
          <% end %>
          <%= link_to 'https://www.instagram.com/hoxtondigital/' do %>
            <i class="fab fa-instagram"></i>
          <% end %>
          <%= link_to 'https://www.linkedin.com/company/hoxton-digital' do %>
            <i class="fab fa-linkedin-in"></i>
          <% end %>
          <%= link_to 'https://www.bark.com/en/company/hoxton-digital-ltd/AkB77/' do %>
            <i class="fas fa-paw"></i>
          <% end %>
        </div>
      </div>
      <div class="footer_company-info">
        <div class="footer_website-links">
          <h6>COMPANY</h6>
          <a href="/about">about us</a>
          <a href="/projects">portfolio</a>
          <a href="/services">services</a>
          <a href="/contact">contact us</a>
        </div>
        <div class="footer_website-links">
          <h6>LEARN MORE</h6>
          <a href="/privacy">Privacy Policy</a>
          <a href="/terms_and_conditions">Terms & Conditions</a>
        </div>
        <div class="footer_website-links">
          <h6>SERVICES</h6>
          <a href="/services">Web Development</a>
          <a href="/services">Mobile Development</a>
          <a href="/services">Creative Design</a>
          <a href="/services">SEO</a>
          <a href="/services">Digital Marketing</a>
        </div>
      </div>
    </div>
    <div class="bottom-section">
      <%= link_to contact_path do %>
        <p>Ask Us About Our Software Engineering Tranining Programs</p>
      <% end %>
    </div>
  </footer>
<% else %>
<% end %>

