<% unless current_page?(projects_path) || current_page?(about_path) || current_page?(designs_path) %>
  <div class="newsletter">
    <div class="newsletter_container">
      <h6>Hungry for the latest news & updates?</h6>
      <p>We have created our newsletter service to inform you of deals, promotions, tech news and software releases at Hoxton Digital.</p>
      <form action="/subscribe" method="post" id="mailing-list" class="newsletter_container_form">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <input type="email" name="email" class="newsletter_container_form_input" placeholder="Email">
        <button class="newsletter_container_form_button pulse-button">Go!</button>
      </form>
    </div>
  </div>
<% end %>

<footer>
  <div class="footer">
    <div class="footer_title">
      <h4>Hoxton Digital</h4>
      <h5>A London Web & Mobile Programming Agency</h5>
      <div class="footer_title_social-media">
        <%= link_to 'https://www.facebook.com/hoxtondigital/' do %>
          <i class="fab fa-facebook-f"></i>
        <% end %>
        <%= link_to 'https://www.instagram.com/hoxtondigital/' do %>
          <i class="fab fa-instagram"></i>
        <% end %>
        <%= link_to 'https://www.linkedin.com/company/hoxton-digital' do %>
          <i class="fab fa-linkedin-in"></i>
        <% end %>
        <%= link_to 'https://www.bark.com/en/company/hoxton-digital-ltd/AkB77/' do %>
          <i class="fas fa-paw"></i>
        <% end %>
      </div>
    </div>
    <div class="footer_company-info">
      <div class="footer_website-links">
        <h6>COMPANY</h6>
        <a href="/about">about us</a>
        <a href="/projects">portfolio</a>
        <a href="/services">services</a>
        <a href="/contact">contact us</a>
      </div>
      <div class="footer_website-links">
        <h6>LEARN MORE</h6>
        <a href="/privacy">Privacy Policy</a>
        <a href="/terms_and_conditions">Terms & Conditions</a>
      </div>
      <div class="footer_website-links">
        <h6>SERVICES</h6>
        <a href="/services">Web Development</a>
        <a href="/services">Mobile Development</a>
        <a href="/services">Creative Design</a>
        <a href="/services">SEO</a>
        <a href="/services">Digital Marketing</a>
      </div>
    </div>
  </div>
  <div class="bottom-section">
    <%= link_to contact_path do %>
      <p>Ask Us About Our Software Engineering Tranining Programs</p>
    <% end %>
  </div>
</footer>


<!-- <footer class="footer fixed-bottom">
  <h4>Building Digital Products will never be the same.</h4>
  <div class="footer_content">
    <div class="absCenterColumn center-text">
      <i class="fas fa-location-arrow footer-icon"></i>
      <p>
        Unit 13, 138 Kinsgland Road <br>London, United Kingdom, E28DY
      </p>
    </div>
    <div class="absCenterColumn center-text">
      <i class="fas fa-phone icon-buzz"></i>
      <p>+44 07464 236371 <br> +44 07545 583958 </p>
    </div>
    <div class="absCenterColumn center-text">
      <i class="fas fa-envelope icon-jiggle"></i>
      <p>contact@hoxton-digital.com <br> gonzalo@hoxton-digital.com </p>
    </div>
  </div>
  <div class="footer_bottom">
    <a class="margin-0" href="/privacy">Privacy</a>
    <a class="margin-0" href="/terms_and_conditions">Terms & Conditions</a>
    <p class="margin-0">Hoxton Digital Ltd <i class="far fa-copyright"></i> 2019</p>
  </div>
</footer>

<script>
  function msg() {
    alert('Email Registered')
  }
</script> -->
