<div class="white-space"></div>
  <div class="home-hero-banner">
    <h3> LØNDON WEB & MOBILE DEVELØPMENT AGENCY </h3>
    <br>
    <div class="home-hero-banner-buttons">
      <a href="/contact" class="hd-purple-button">Get a Quote</a>
      <a href="/contact" class="hd-purple-button">Speak to a Specialist</a>
    </div>
  </div>
<!--   <div class="home-promotional-banner">
    <div class="home-promotional-banner-text">
      <span>SPECIAL OFFER</span>
      <h2>Landing Websites for £100</h2>
      <h3>Validate your idea with a simple website</h3>
      <p>
        All of our Landing Websites include <strong>Google Analytics</strong> for you to collect the maximum amount of validated learning from your users. It has been proven that Landing Pages are one of the most effective tools to validate your target audience.
      </p>
      <a href="/contact">Get Started</a>
    </div>
  </div> -->
  <div class="home-2">
    <div class="home-2_container">
      <h4><span>Services</span> we provide</h4>
      <div class="home-2_container_cards">
        <div class="home-2_card">
          <hr align="left">
          <p>Services Directory</p>
          <h6 class="home-2_card_h6">Discover All The Different Services That Hoxton Digital has to Offer</h6>
          <%= link_to services_path do %>
            <button>Right Here</button>
          <% end %>
        </div>
        <% @services.last(4).each do |service| %>
          <div class="home-2_card">
            <%= link_to services_path do %>
              <% if service.images.attached? %>
                <%= image_tag service.images.first, alt: "london web design" %>
              <% else %>
                <%= image_tag 'https://images.pexels.com/photos/356079/pexels-photo-356079.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940', alt: "london web design" %>
              <% end %>
              <span>
                <div>
                  <p><%= service.title %></p>
                </div>
                <button>Details</button>
              </span>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="home-3">
    <div class="home-3_container">
      <h4><span>Products</span> that we have proudly built!</h4>
      <div class="home-3_container_cards">
        <% @projects.first(5).each do |project| %>
          <div class="home-3_card">
            <%= link_to project_path(project) do %>
              <% if project.images.attached? %>
                <%= image_tag project.images.first, alt: "london web development" %>
              <% else %>
                <%= image_tag 'https://images.pexels.com/photos/356079/pexels-photo-356079.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940' %>
              <% end %>
              <span>
                <div>
                  <p><%= project.title %></p>
                  <p><%= project.project_type %></p>
                </div>
                <button>Details</button>
              </span>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="home-bark">
    <div class="home-bark_part-one">
      <%= image_tag 'bark.png', alt: "london web development" %>
      <h3>Some Awards & Reviews We've Collected in Our Journey</h3>
      <a href="https://www.bark.com/en/company/hoxton-digital-ltd/AkB77/">
        <button>Reviews</button>
      </a>
    </div>
    <div class="home-bark_part-two">
      <a href='https://www.bark.com/en/company/hoxton-digital-ltd/AkB77/' target='_blank' class='bark-widget' data-type='coe' data-id='AkB77' data-image='large-gold' data-version='3.0'>Hoxton Digital Ltd</a><script type='text/javascript' src='https://www.bark.com/js/frontend-v2/widgets-v2.js?v=2' defer></script>
      <br>
      <a href='https://www.bark.com/en/company/hoxton-digital-ltd/AkB77/' target='_blank' class='bark-widget' data-type='pro' data-id='AkB77' data-image='large-gold' data-version='3.0'>Hoxton Digital Ltd</a><script type='text/javascript' src='https://www.bark.com/js/frontend-v2/widgets-v2.js?v=2' defer></script>
      <br>
      <a href='https://www.bark.com/en/company/hoxton-digital-ltd/AkB77/' target='_blank' class='bark-widget' data-type='reviews' data-id='AkB77' data-image='large-gold' data-version='3.0'>Hoxton Digital Ltd</a><script type='text/javascript' src='https://www.bark.com/js/frontend-v2/widgets-v2.js?v=2' defer></script>
    </div>
    <div class="home-bark_part-three">
      <ul>
        <h3>Some Reviews</h3>
        <li>
          Hoxton Digital did the back office management of my hostel and I couldn't be happier.<br> <strong>Sergio T</strong>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </li>
        <br>
        <li>
          Thank you for my website this is exactly what I wanted. I would recommend this programming agency to all businesses who are trying to improve their general company processes through digital solutions. <br> <strong>Andrew W.</strong>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </li>
        <br>
        <li>
          Their work ethic is unbreakable, products delivered on time at a fair price. Highly recommended <br> <strong>Jane H.</strong>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </li>
        <br>
        <li>
          These guys designed and improved our database schema, UX/UI and our web app runs perfectly. <br><strong>-Daisy P.</strong>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </li>
      </ul>
    </div>
  </div>
  <div class="home-4">
    <div class="home-4_reviews">
      <hr align="left">
      <p>REVIEWS</p>
      <h5>What People Say About Us</h5>
      <h6>Find out what some of our customers have to say about us.</h6>
      <%= link_to 'https://clutch.co/profile/hoxton-digital' do %>
        <button class="home-4_reviews_button-1">All Reviews</button>
      <% end %>
      <%= link_to 'https://clutch.co/review' do %>
        <button class="home-4_reviews_button-2">Leave Review</button>
      <% end %>
      <div class="home-4_reviews_container">
        <div class="home-4_reviews_card">
          <%= cl_image_tag("clutch.png", :quality=>"auto" , alt: "london web development") %>
          <%= cl_image_tag("quotes.png", :quality=>"auto", alt: "london web development") %>
          <h5>They’re incredibly willing to iterate on the output.</h5>
          <h6>Stotles </h6>
          <p>Co-Founder</p>
        </div>
        <div class="home-4_reviews_card">
          <%= cl_image_tag("clutch.png", :quality=>"auto", alt: "london web development" )%>
          <%= cl_image_tag("quotes.png", :quality=>"auto", alt: "london web development" )%>
          <h5>Hoxton Digital is so passionate about the work. They really believe in my idea.</h5>
          <h6>BuildSG</h6>
          <p>Owner</p>
        </div>
        <div class="home-4_reviews_card">
          <%= cl_image_tag("clutch.png", :quality=>"auto", alt: "london web development" ) %>
          <%= cl_image_tag("quotes.png", :quality=>"auto", alt: "london web development" ) %>
          <h5>Hoxton Digital thinks about the challenges we wish to solve and brainstorms new ideas to improve on ours.</h5>
          <h6>Down To Play</h6>
          <p>Co-Founder</p>
        </div>
        <div class="home-4_reviews_card">
          <%= cl_image_tag("clutch.png", :quality=>"auto", alt: "london web development" ) %>
          <%= cl_image_tag("quotes.png", :quality=>"auto", alt: "london web development" )%>
          <h5>The website they developed streamlined internal processes and helped attract more clients</h5>
          <h6>SERDRAGA</h6>
          <p>CFO</p>
        </div>
      </div>
    </div>
  </div>
  <div class="newsletter">
    <div class="newsletter_container">
      <h6>Hungry for the latest news & updates?</h6>
      <p>We have created our newsletter service to inform you of deals, promotions, tech news and software releases at Hoxton Digital.</p>
      <form action="/subscribe" method="post" id="mailing-list" class="newsletter_container_form">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <input type="email" name="email" class="newsletter_container_form_input" placeholder="Email">
        <button class="newsletter_container_form_button pulse-button">Go!</button>
      </form>
    </div>
  </div>
  <div id="popup-newsletter" class="popup">
    <div class="popup_content">
      <a href="/" class="popup_close">&times;</a>
      <h6>Hungry for the latest news & updates?</h6>
      <p>We have created our newsletter service to inform you of deals, promotions, tech news and software releases at Hoxton Digital.</p>
      <form action="/subscribe" method="post" id="mailing-list" class="#">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <input type="email" name="email" class="#" placeholder="Email">
        <button class="pulse-button-p">Go!</button>
      </form>
    </div>
  </div>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
