
  <div class="home-1">
    <a href="https://clutch.co/profile/hoxton-digital">
      <div class="home-1_background"></div>
    </a>
    <input type="checkbox" class="navigation_checkbox" id="navi-toggle">
    <label for="navi-toggle" class="navigation_button">
      <i class="fas fa-share-alt"></i>
    </label>
    <ul class="navigation_list">
      <li class="navigation_link">
        <a href="whatsapp://send?text=<%= request.original_url %>">
          <i class="fab fa-facebook">
          </i>
        </a>
      </li>

      <li class="navigation_link">
        <i class="fab fa-linkedin-in"></i>
      </li>

      <li class="navigation_link">
        <i class="fab fa-instagram"></i>
      </li>

      <li class="navigation_link">
        <i class="fas fa-at"></i>
      </li>
    </ul>
  </div>
  <div class="home-2">
    <div class="home-2_content">
      <h4><span>Services</span> we love to do!</h4>
      <div class="home-2_services-container">
        <div class="home-2_card">
          <hr align="left">
          <p>Services Directory</p>
          <h6>Discover All The Different <span>Services</span> That Hoxton Digital has to <span>Offer</span></h6>
          <%= link_to services_path do %>
            <button>Right Here</button>
          <% end %>
        </div>
        <div class="home-2_card">
          <% if @services.first.images.attached? %>
            <%= image_tag @services.first.images.first %>
          <% else %>
            <%= image_tag 'https://images.pexels.com/photos/356079/pexels-photo-356079.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940' %>
          <% end %>
        </div>
        <div class="home-2_card">
          <% if @services.second.images.attached? %>
            <%= image_tag @services.second.images.first %>
          <% else %>
            <%= image_tag 'https://images.pexels.com/photos/356079/pexels-photo-356079.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940' %>
          <% end %>
        </div>
        <div class="home-2_card">
          <% if @services.third.images.attached? %>
          <%= image_tag @services.third.images.first %>
          <% else %>
            <%= image_tag 'https://images.pexels.com/photos/356079/pexels-photo-356079.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="home-2">
    <div class="home-2_content">
      <h4><span>Products</span> that we have proudly built!</h4>
      <div class="home-2_services-container">
        <div class="home-2_card">

        </div>
        <div class="home-2_card">

        </div>
        <div class="home-2_card">

        </div>
        <div class="home-2_card">

        </div>
      </div>
    </div>
  </div>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
