<!-- <section class="home-ticker">
  <div class="ticker">
    <div class="ticker__list">

      <div class="ticker__item">
        <div class="button-container-2">
          <span class="mas">
            <h6>The Curious Traveller</h6>
            <p>An app designed to entertain tourists and to engage them in order to book travels that the owner of the app will post.</p>
          </span>
          <button name="Hover"  style="background-size: cover; background-position: center;">
            <%= cl_video_tag("tickervideo-1", quality: 30, muted: true, loop: true, autoplay: true) %>
          </button>
        </div>
      </div>

      <div class="ticker__item">
        <div class="button-container-2">
          <span class="mas">
            <h6>The Curious Traveller</h6>
            <p>An app designed to entertain tourists and to engage them in order to book travels that the owner of the app will post.</p>
          </span>
          <button name="Hover"  style="background-size: cover; background-position: center;">
            <%= cl_video_tag("tickervideo-1", quality: 30, muted: true, loop: true, autoplay: true) %>
          </button>
        </div>
      </div>

      <div class="ticker__item">
        <div class="button-container-2">
          <span class="mas">
            <h6>The Curious Traveller</h6>
            <p>An app designed to entertain tourists and to engage them in order to book travels that the owner of the app will post.</p>
          </span>
          <button name="Hover"  style="background-size: cover; background-position: center;">
            <%= cl_video_tag("tickervideo-1", quality: 30, muted: true, loop: true, autoplay: true) %>
          </button>
        </div>
      </div>

      <div class="ticker__item">
        <div class="button-container-2">
          <span class="mas">
            <h6>The Curious Traveller</h6>
            <p>An app designed to entertain tourists and to engage them in order to book travels that the owner of the app will post.</p>
          </span>
          <button name="Hover"  style="background-size: cover; background-position: center;">
            <%= cl_video_tag("tickervideo-1", quality: 30, muted: true, loop: true, autoplay: true) %>
          </button>
        </div>
      </div>

      <div class="ticker__item">
        <div class="button-container-2">
          <span class="mas">
            <h6>The Curious Traveller</h6>
            <p>An app designed to entertain tourists and to engage them in order to book travels that the owner of the app will post.</p>
          </span>
          <button name="Hover"  style="background-size: cover; background-position: center;">
            <%= cl_video_tag("tickervideo-1", quality: 30, muted: true, loop: true, autoplay: true) %>
          </button>
        </div>
      </div>

      <div class="ticker__item">
        <div class="button-container-2">
          <span class="mas">
            <h6>The Curious Traveller</h6>
            <p>An app designed to entertain tourists and to engage them in order to book travels that the owner of the app will post.</p>
          </span>
          <button name="Hover"  style="background-size: cover; background-position: center;">
            <%= cl_video_tag("tickervideo-1", quality: 30, muted: true, loop: true, autoplay: true) %>
          </button>
        </div>
      </div>


    </div>
  </div>
</section> -->
<!-- <script>
  var ticker = document.querySelector('.ticker')
    , list = document.querySelector('.ticker__list')
    , clone = list.cloneNode(true)

  ticker.append(clone)
</script>
 -->
