<div class="posts-index">
  <div class="posts-container">
    <div class="posts-header">
      <hr align="left">
      <h2>Tech Blog</h2>
      <p>Welcome to Hoxton Digital's Tech Blog! Thanks to our collaborators, founders & clients we'll be able to share a number of articles for techies and non-techies interested in Technology. From articles, to how-tos, we'll be posting all sorts of content to keep you up to date in the tech world. Enjoy!</p>
    </div>
    <%= paginate @posts %>
    <div class="posts">
      <% @posts.reverse.each do |post| %>
        <%= link_to post_path(post) do %>
          <div class="post">
              <% if post.image.attached?  %>
                <%= image_tag post.image, class: "post-image" %>
              <% else %>
                <%= image_tag 'https://images.pexels.com/photos/132340/pexels-photo-132340.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500', class: "post-image" %>
              <% end %>
              <div class="post-text">
                <%= sanitize post.title %>
                <%= sanitize post.body.truncate(80) %>
              </div>
              <div class="post-go">
                <p>Read Article</p>
                <i class="fas fa-angle-right"></i>
              </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <%= paginate @posts %>
  </div>
</div>
