<div class="posts-index">
  <div class="posts-container">
    <div class="posts-header">
      <hr align="left">
      <h2>Tech Blog</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    </div>
    <%= paginate @posts %>
    <div class="posts">
      <% @posts.each do |post| %>
        <%= link_to post_path(post) do %>
          <div class="post">
              <% if post.image.attached?  %>
                <%= image_tag post.image, class: "post-image" %>
              <% else %>
                <i class="far fa-image no-image-post"></i>
              <% end %>
              <div class="post-text">
                <%= sanitize post.title %>
                <%= sanitize post.body.truncate(60) %>
              </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <%= paginate @posts %>
  </div>
</div>
