<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/trix/1.2.0/trix.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/trix/1.2.0/trix.css">

    <link rel="stylesheet"
          href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.18.0/build/styles/monokai.min.css">
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.18.0/build/highlight.min.js"></script>

    <!-- Hotjar Tracking Code for www.hoxton-digital.com -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:1713993,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>

    <title>
          <% if content_for? :title %>
            <%= "#{yield :title}" %>
          <% else %>
           Software Apps | Web Design | Hoxton Digital | UI UX | ECommerce
          <% end %>
        </title>
        <meta name="description" content=
          <% if content_for? :description %>
            "<%= "#{yield :description}" %>"
          <% else %>
            "London Web Development Agency | Hoxton Digital | London Based Web Development | Website Builders | Web Agency | Design Agency | Website Company | Web Design | Mobile Apps"
          <% end %>
        >

        <!-- Facebook Open Graph data -->
        <meta property="og:title" content=
          <% if content_for? :title %>
            "<%= "#{yield :title}" %>"
          <% else %>
            "London Web Development & App Development | Hoxton Digital"
          <% end %>
        />
        <meta property="og:type" content="website" />
        <meta property="og:image" content=
          <% if content_for? :image %>
            <%= "#{yield :image}" %>
          <% else %>
            https://res.cloudinary.com/hoxton-digital/image/upload/v1571928979/meta-image.png
          <% end %>
        />
        <meta property="og:description" content=
          <% if content_for? :description %>
            "<%= "#{yield :description}" %>"
          <% else %>
          "London Web Development Agency | Hoxton Digital | London Based Web Development | Website Builders | Website Company | Web Design | Mobile Apps"
          <% end %>
        />
        <meta property="og:site_name" content="Hoxton Digital" />

        <!-- Twitter Card data -->
        <meta name="twitter:card" content="summary_large_image">
        <!-- <meta name="twitter:site" content="<%#= DEFAULT_META["twitter_account"] %>"> -->
        <meta name="twitter:title" content=
          <% if content_for? :title %>
            "<%= "#{yield :title}" %>"
          <% else %>
             "London Web Development & App Development | Hoxton Digital"
          <% end %>
        >
        <meta name="twitter:description" content=
          <% if content_for? :description %>
            "<%= "#{yield :description}" %>"
          <% else %>
            "London Web Development Agency | Hoxton Digital | London Based Web Development | Website Builders | Website Company | Web Design | Mobile Apps"
          <% end %>
        >
        <meta name="twitter:image" content=
          <% if content_for? :image %>
            <%= "#{yield :image}" %>
          <% else %>
            https://res.cloudinary.com/hoxton-digital/image/upload/v1571928979/meta-image.png
          <% end %>
        >

    <!--Start of Zendesk Chat Script-->
    <script type="text/javascript">
    window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
    d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
    _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
    $.src="https://v2.zopim.com/?5w2Avkeetzg0maSk0PcD010e3rGB9WNy";z.t=+new Date;$.
    type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
    </script>
    <!--End of Zendesk Chat Script-->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-87128550-2">
    </script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-87128550-2');
    </script>

    <%= favicon_link_tag 'hdlogo.png' %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->

    <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/d9174649cfb8c3eb25a338d0d/10706e55a5360545abbfaca0c.js");</script>
  </head>
  <body>
    <div id="main">
    </div>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= render 'cookies_eu/consent_banner', link: '/privacy' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= render 'shared/footer' %>
  </body>
</html>
